#grid_container {
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 600px 1fr;
    grid-template: ". header_area ."
   ". main_area .";    
}
header{
    grid-area: header_area;
    text-align: center;
}
main {
    grid-area: main_area;
}
body{
    background-color: #fafafa;
}
form{
    background-color: white;
    border: 2px solid #cccccc;
    padding: 36px;
}
div {
    margin-bottom: 18px;
}
div label {
    display: block;
    margin-bottom: 8px;
}
#phone_id:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

input[type=email]:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}
select,input,textarea{
    padding: 12px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}

.underline_imput input {
    border: 0px;
    border-bottom: 3px solid lightslategray;


}
.underline_imput:focus-visible{
    outline: 0px;
    background-color: aliceblue;
}
input[type=submit]{
    width: auto;
    background-color: lightsteelblue;
    border: solid lightsteelblue;
    color: black;
    min-width: 100px;
}