body{
    margin: 0px;
    font-family: sans-serif;
}

header{
    background-color: pink;
    padding: 30px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    color: aliceblue;
}

nav a {
    color: aliceblue;
}

.card{
    margin: 24px;
    border: 3px solid pink;
    padding: 20px;
    box-shadow: 4px 4px 10px 2px gray; 

}
.card img{
    height: 200px;
}

#image_container{
    float: left;
    padding-right: 24px;
}

footer{
    background-color: pink;
    padding: 20px;
    text-align: center;
}