#main {
    background-color: lavender;
    padding: 30px;
}

#content{
    background-color: #6B5ACD;
    border: 5px solid darkblue;
    color: white; 
    padding: 15px;
    margin: 15px 0px;
}

#content > div {
    margin: 16px 0px;
}

#quote_content {
    margin-left: 48px;
}

#quote_caition {
    margin-left: 72px;}
