body{
    background-color: whitesmoke;
}
#grid_container {
    display: grid;
    margin: 0px;
    font-family: sans-serif;
    grid-template-columns: 1fr 600px 2fr;
    grid-template: ". header_area ."
   ". main_area .";    
}
header{
    grid-area: header_area;
    text-align: center;
}
img {
    width: 400px;
}
main {
    grid-area: main_area;
}
h4 , h1 {
    text-align: center;
}
h4 {
    color: grey;
}
fieldset{
    border: 0px;

    border-top: 1px solid lightgrey;
    
}
form{
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 10px;
}
#names{
    display: flex;  
}
input[type=text]{
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
}
.text {
    margin-right: 10px;
}
.birthday{
    display: flex;
}
#month_id{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2px;
    flex: 1;
    padding: 15px;
}
#date_id{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2px;
    flex: 1;
}
#year_id{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2px;
    flex: 1;
}
#gender{
    display: flex; 
}
.radio{
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 80px;
    padding: 15px;
    margin: 5px; 
    flex:   1;   
}
P{
    color: gray;
    font-size: 12px;
}
#sign_up{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    background-color: rgb(74, 195, 74);
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 15px;
    width: 300px;
    font-size: 30px;
    
}
h5{
    text-align: center;
    font-size: 20px;
}
.b_g{
    text-align: left;
    font-size: 12px;
    
}
#first_name_id:not(:focus):not(:placeholder-shown):invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;
    
}
#last_name_id:not(:focus):not(:placeholder-shown):invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;   
}
#moblie_email_id:not(:focus):not(:placeholder-shown):invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;
}
#new_pass_id:not(:focus):not(:placeholder-shown):invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;
}
a{
    text-decoration: none;
}